.circular-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin-left: 0.5rem;
  border:none;
  color:var(--text-color);
}

.circular-button span {
  font-size: 1.25rem;
}
