.footer {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  padding: 2.875rem 10rem 9.5rem 10rem;
  background-color: var(--bars-color);
}
.footer-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10rem;
}
.information .legal {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}
.footer-left ul {
  margin-top: 3.5rem;
  padding-left: 0;
}
.footer-left li {
  list-style: none;
  font-weight: 600 !important;
  margin-bottom: 1rem;
}
.payment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.footer-right-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top:3.5rem;
}
.footer-right-content p {
  font-size: 0.625rem;
  margin-right: 2rem;
  line-height: 1rem;
}
.footer-right-content img {
  width: 4.5rem;
  height: 4.5rem;
  object-fit: cover;
  margin:1rem;
}
