.filters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
}

.filter {
  display: flex;
  flex-direction: row;
  background-color: var(--bars-color);
  border-radius: 50px;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  align-items: center;
}

.filter img {
  padding-right: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .filters {
    overflow: scroll;
    flex-wrap: nowrap;
  }
  .filter {
    white-space: nowrap;
  }
}
