.banner {
  width: 100vw;
  margin-top: 4rem;
  height: 26rem;
  background-size: cover;
  background-position: center;
  z-index:3;
}

.banner-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:0 10rem;
  position: relative;
  height:100%;
}

.character {
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: cover;
  max-width: 50%;
  height: 100%;
}

.banner-content {
  width:fit-content;
  padding: 5rem 0;
  flex: 1;
  overflow: hidden;
}

.banner-content a {
  padding: 1rem 2rem;
}

.banner-content p {
  font-weight: 500;
  font-size: 1.25rem;
}

.banner-content h1 {
  text-transform: uppercase;
}

.banner-content h1 span {
  display: block;
  word-break: break-all;
}

@media only screen and (max-width: 768px) {
  .banner {
    margin: 0;
    height: 32.875rem;
  }

  .banner-box {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin:0 1rem;
    position: relative;
    height:100%;
    padding-top: 5.5rem;
  }

  .banner-content h1 {
    margin: 1rem 0 0 0;
  }

  .banner-content {
    width:fit-content;
    height: max-content;
    padding: unset;
    flex: 1;
    overflow: hidden;
  }

  .banner-content a{
   margin: 1.5rem auto;
  }

  .character {
    margin: 0 auto;
    position: unset;
    height: auto;
    max-width: 55%;
  }
}
